@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5vh 2%;
    background-color: #CF8B7D;
}

header h2 {
    font-family: 'Island Moments', cursive;
    cursor: pointer;
    color: #e7e7e7;
    padding-right: 26.5vw;
    font-size: 7vh;
    font-weight: 500;
}

#nav-items li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

#nav-items li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 1.8vh;
    color: #f5f5f5;
    transition: all .50s ease;
}

#nav-items li a:hover {
    color: #1a1817;
}

#nav-items img {
    padding: 0;
    position: relative;
    margin: 0;
    height: 2.5vh;
    top: 0.4vh;
    cursor: pointer;
}

@media (max-width: 1280px) {
    header {
        transition: .2s;
    }
}

@media (max-width: 1090px) {

    header{ 
        background-color: #c6236725;
    }

    header h2 {
        font-size: 7vh;
        text-align: center;
        position: relative;
        left: 45px;
    }

    #menu-icon {
        display: inline-block;
        position: relative;
        right: 20px;
    }

    #nav-items {
        position: absolute;
        top: 9%;
        right: -100%;
        width: 300px;
        height: 45vh;
        background-color: #e7e7e7;
        flex-direction: column;
        justify-content: flex-start;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        display: none;
        transition: all .50s ease;
    }

    #nav-items li a {
        color: #1a1817;
        font-size: 20px;
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        display: flex;
        transition: all .50s ease;
    }

    #nav-items a:hover {
        color: #CF8B7D;
        transform: translateX(10px);
    }

    #nav-items.open {
        right: 0%;
        display: flex;
    }

}

/*Section One Styling*/

#section-1 {
    height: 85vh;
    background: #CF8B7D;
}

.main div {
    color: #f5f5f5;
    transform: scale(200%);
    cursor: pointer;
    position: relative;
    top: 2px;
    display: none;
}

.spacer {
    aspect-ratio: 960/400;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.layer1 {
    background-image: url('media/layered-waves-haikei.svg');
}


@media (max-width: 1080px) {
    .spacer {
        aspect-ratio: 240/690;
    }
}

#quotes {
    position: relative;
    top: 14vh;
    
}

.heading {
    position: relative;
    left: 1040px;
    font-family: 'Island Moments', cursive;
    color: white;
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 2vh;
}

#quotes p {
    color: white;
    font-size: clamp(22px, 1vw, 30px);
    padding-bottom: 6vh;
    font-weight: 300;
    line-height: 4.5vh;
}

#quotes img {
    position: relative;
    border-radius: 40vh;
    width: auto;
    transform: scale(45%);
    right: 45vw;
    bottom: 95vh;
}

@media (max-width: 1080px){ 

    .heading{ 
        position: relative;
        left: 60px;
        font-size: 45px;
        max-width: 300px;
    }

    #quotes{ 
        top: 10vh;
    }

    #quotes img{ 
        transform: scale(20%);
        right: 128vw;
        bottom: 80vh;
    }

    #quotes p{ 
        text-align: center;
        max-width: 300px;
        font-size: 15px;
        padding-bottom: 10px;
        position: relative;
        left: 8vw;
        top: 4vh;
    }
}


@media (max-width: 1080px){ 

    #poster img{ 
        position: relative;
        top: 30vh;
        transform: scale(60%);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #description{ 
        text-align: center;
        position: relative;
        top: 20vh;
    }
    
    #description h2{ 
        font-weight: 500;
        padding-bottom: 3vh;
    }

    #description p{ 
        font-size: 15px;
        padding-bottom: 3vh;
    }

    .amazon-border{ 
        transform: scale(110%);
        border-radius: 5px;
        width: 100px;
        display: flex; 
        align-items: center;
        padding: 5px;
        background-color: #FF9900;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .amazon-btn{ 
        text-decoration: none;
        color: black;
        padding-left: 10px;
        border-style: none;
        font-weight: 500;
        font-size: 18px;
        background-color: #FF9900;
    }
}