@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*Navigation Bar*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vh 5%;
    background-color: #1a1817;
}

header h2 a {
    font-family: 'Cormorant Garamond', serif;
    cursor: pointer;
    color: #e7e7e7;
    padding-right: 26.5vw;
    font-size: 5vh;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

#nav-items li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

#nav-items li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 1.8vh;
    color: #f5f5f5;
    transition: all .50s ease;
}

#nav-items li a:hover {
    color: #CF8B7D;
    transition: 0.5 s ease-in;
}

#nav-items img {
    padding: 0;
    position: relative;
    margin: 0;
    height: 2.5vh;
    top: 0.4vh;
    cursor: pointer;
}

/*Front Section*/

.section-1 {
    height: 80vh;
    background: #cf8b7dd7;
}

.main div {
    color: #f5f5f5;
    transform: scale(200%);
    cursor: pointer;
    position: relative;
    top: 2px;
    display: none;
}

.spacer {
    aspect-ratio: 960/500;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.layer1 {
    background-image: url('media/layered-waves-haikei.svg');
}

#quotes {
    position: relative;
    top: 16vh;
    left: 20vw;
    text-align: center;
}

.title {
    display: inline-block;
    font-family: 'Island Moments', cursive;
    font-weight: 500;
    padding-bottom: 3vh;
    color: #f5f5f5;
    font-size: 7vh;

    letter-spacing: 10px;
    border-right: 3px solid;
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(13),
        cursor 0.4s step-end infinite alternate;
}


@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

#quotes p {
    color: #f5f5f5;
    font-weight: 200;
    font-size: 20px;
    line-height: 5vh;
    padding-bottom: 4vh;

    opacity: 0;
    animation-name: fadeInAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.section-1 img {

    position: relative;
    bottom: 50vh;
    left: 8vw;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5%;

    opacity: 0;
    position: relative;
    animation: fadeInFromLeftAnimation 1s ease-in-out forwards;
}

@keyframes fadeInFromLeftAnimation {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
        transform: scale(50%);
    }
}

/*Matter of Existence*/

#poster {
    position: relative;
    top: 35vh;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.heading {
    font-weight: 500;
}

#poster h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    padding-bottom: 8vh;
    text-decoration: 2px underline;
    text-decoration-color: #C62368;
}

#poster h2 {
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 5vh;
}

#poster img {
    position: relative;
    padding-left: 20vw;
}

#poster img:hover {
    cursor: pointer;
}

#description {
    position: relative;
    left: 50vw;
    bottom: 50vh;
}

#description p {
    max-width: 800px;
    line-height: 4vh;
    font-size: 2vh;
}

#poster ul {
    padding-top: 4vh;
    text-align: center;
}

.amazon-border {
    border-radius: 5px;
    padding: 5px;
    background-color: #FF9900;
    display: block;
    width: 10%;
}

.amazon-border:hover {
    transform: scale(110%);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.amazon-btn {
    text-decoration: none;
    color: black;
    padding-left: 10px;
    border-style: none;
    font-weight: 500;
    font-size: 18px;
    background-color: #FF9900;
}

.see-more {
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.see-more ul {
    display: flex;
    transform: scale(60%);
    justify-content: left;
    position: relative;
    bottom: 20vh;
}

.see-more ul li {
    display: inline-block;
    padding: 10px;

}

.see-more ul li:hover {
    transform: scale(105%);
    transition: 0.2s ease-in-out;
}

.see-more h4 a {
    text-decoration-color: #c62367;
    color: #1a1817;
    font-size: 20px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 25vh;

}

#footer {
    height: 20vh;
    background-color: #1a1817;
    text-align: center;
}

#footer h4 {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 3vh;
    text-transform: uppercase;
    padding-top: 2vh;
    color: #e7e7e7;
    font-weight: 400;
}

#footer-items li {
    display: inline-block;
    text-align: left;
    padding: 10px;
}

#footer-items li a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: 200;
    font-size: 15px;
}

#footer-socials {
    display: flex;
    justify-content: center;
}

#footer-socials li {
    list-style: none;
    padding: 10px;
}

#footer p {
    color: #e7e7e7;
    font-weight: 300;
    font-size: small;
    text-align: center;
}


/*Mobile (Portrait) Responsiveness*/

@media (min-width: 320px) and (max-width: 425px) {

    /*Navigation*/


    html {
        overflow-x: hidden;
    }

    header {
        background-color: #1a1817;
        padding: 15px;
        transition: .2s;
    }

    header h2 a {
        font-size: 4vh;
        text-align: center;
        position: relative;
        left: 18vw;
        text-transform: uppercase;
    }

    #menu-icon {
        display: inline-block;
        position: relative;
        right: 20px;
    }

    #nav-items {
        position: absolute;
        top: 9%;
        right: -100%;
        width: 300px;
        height: 45vh;
        background-color: #e7e7e7;
        flex-direction: column;
        justify-content: flex-start;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        display: none;
        transition: all .50s ease;
    }

    #nav-items li a {
        color: #1a1817;
        font-size: 20px;
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        display: flex;
        transition: all .50s ease;
    }

    #nav-items a:hover {
        color: #CF8B7D;
        transform: translateX(10px);
    }

    #nav-items.open {
        right: 0%;
        display: flex;
    }

    /*Home Section*/

    .section-1 {
        height: 100vh;
    }

    .title {
        display: inline-block;
        font-family: 'Island Moments', cursive;
        font-weight: 500;
        padding-bottom: 3vh;
        color: #f5f5f5;
        font-size: 5vh;

        letter-spacing: 8px;
        border-right: 3px solid;
        width: 78%;
        white-space: nowrap;
        overflow: hidden;
        animation:
            typing 2s steps(13),
            cursor 0.4s step-end infinite alternate;
    }

    @keyframes cursor {
        50% {
            border-color: transparent;
        }
    }

    @keyframes typing {
        from {
            width: 0;
        }
    }

    #quotes {
        position: relative;
        left: 2px;
        top: 5vh;
        text-align: center;
    }

    #quotes p {
        text-align: center;
        line-height: 35px;
        color: #e7e7e7;
        font-weight: 300;
        font-size: 16px;
        
    }

    


    .home-img {
        position: relative;
        top: 0vh;
        margin-left: auto;
        margin-right: auto;
        width: 89%;
        border-radius: 10px;
    }

    .spacer {
        aspect-ratio: 340/900;
    }

    /*LATEST RELEASE BANNER*/

    #poster {
        position: relative;
        top: 0vh;
    }

    #poster img {
        position: relative;
        top: 30vh;
        transform: scale(60%);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-left: 0;
    }

    #poster h1 {
        position: relative;
        top: 42vh;
        padding-bottom: 5vh;
        text-decoration-line: underline;
        text-decoration-color: #C62368;
        font-size: x-large;
        text-align: center;
    }

    #poster h2 {
        font-size: 3.5vh;
        padding-bottom: 0;
        font-weight: 400;
    }

    #description {
        text-align: center;
        position: relative;
        top: 20vh;
        left: 0;
        bottom: 0;
    }

    .heading {
        font-weight: 500;
        padding-bottom: 1vh;
    }

    #description p {
        font-size: 15px;
        padding: 4vh;
    }

    .amazon-border {
        transform: scale(110%);
        border-radius: 5px;
        width: 100px;
        display: flex;
        align-items: center;
        padding: 5px;
        background-color: #FF9900;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .amazon-btn {
        text-decoration: none;
        color: black;
        padding-left: 10px;
        border-style: none;
        font-weight: 500;
        font-size: 18px;
        background-color: #FF9900;
    }

    /*SEE MORE BOOKS SECTION*/

    .see-more ul {
        display: flex;
        transform: scale(40%);
        justify-content: center;
        position: relative;
        top: 10vh;
    }

    .see-more li {
        padding: 10px;
        list-style: none;
    }

    .see-more h4 {
        text-align: center;
    }

    .see-more h4 a {
        position: relative;
        bottom: 2vh;
        text-decoration: none;
        color: black;
        font-size: 18px;
        text-decoration-line: underline;
        text-decoration-color: #C62368;
        text-decoration-thickness: 2px;
    }

    /*FOOTER SECTION*/

    #footer {
        height: 30vh;
    }

    /*Biographical Section*/


    .bio-section {
        height: 60vh;
        background-image: url('media/bio-wave.svg');
        background-size: cover;
    }

    .bio-heading h2 {
        font-weight: 500;
        font-size: 50px;
        padding-top: 50px;
        padding-bottom: 4vh;
        font-family: 'Dancing Script', cursive;
        text-align: center;
        color: #e7e7e7;
    }

    .author-bio h2 {
        font-weight: 500;
        font-size: 60px;
        text-align: center;
        padding-bottom: 4vh;
        color: #c62367;
        font-family: 'Island Moments', cursive;
    }

    .author-bio img {
        transform: scale(90%);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        border: 2px solid #1a1817;
        border-radius: 10px;
    }

    .author-bio p {
        padding: 0vh 6vh 0vh;
        line-height: 4vh;
    }

    .bio-more ul {
        top: 0vh;
    }

    .bio-more h4 a {
        bottom: 10vh;
    }


    /*Books Section*/



    .book-list ul li img {
        transform: scale(70%);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .book-list ul li {
        text-align: center;
    }

    .book-list a {
        text-decoration: underline;
        text-decoration-color: #c62367;
        color: #1a1817;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .books h4 {
        text-align: center;
        min-width: 300px;
        font-size: 20px;
        font-weight: 450;
        padding: 20px 0px;
    }



    /*The Writer's Lodge Page*/

    .pov-header {
        height: 50vh;
        background-image: url(media/blob-svg.svg);
    }

    .pov-home {
        background-color: #1a1817;
    }

    .pov-title {
        text-align: center;
        padding-top: 8vh;
    }

    .pov-title h2 {
        font-weight: 500;
        font-size: 40px;
        padding-bottom: 4vh;
        font-family: 'Dancing Script', cursive;
    }

    .pov-title h4 {
        font-weight: 400;
        font-size: 18px;
    }

    .pov-title h4 span {
        color: #C62368;
        text-transform: capitalize;
    }

    .pov-des {
        text-align: center;
    }

    .pov-des h2 {
        padding: 5vh;
        font-weight: 500;
    }

    .pov-des img {
        position: relative;
        top: 0vh;
        transform: scale(80%);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-radius: 10px;
    }

    .pov-des p {
        padding: 4vh;
    }

    .pov-des ul {
        padding-bottom: 40px;
    }

    .discord-invite {
        transform: scale(110%);
        border-radius: 5px;
        width: 100px;
        display: flex;
        align-items: center;
        padding: 2px;
        background-color: #7289da;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .discord-btn {
        text-decoration: none;
        color: white;
        padding-left: 10px;
        border-style: none;
        font-weight: 400;
        font-size: 16px;
        background-color: #7289da;
    }

}